body {
    main {
        #offcanvasBottom {
            font-size: 22px;
            font-family: $tipografiaProductos;
            background-image: url(../imagenes/brujo.jpg);
            color: white;
        }
    }
}