main {
    #contenedorProductos {
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 14px;
        row-gap: 20px;
        font-family: $tipografiaNavbar2;
        font-size: 24px;
        text-align: center;
        width: 100%;
        color: black;
        .card {
            background-color: black;
            color: white;
            .card-body {
                background-image: url(../cannabisMedicinal.png);
                border-radius: 5%;
                border-color: white;
                margin-top: 10px;
                height: 275px;
                .card-title {
                    font-family: $tipografiaNavbar2;
                    -webkit-text-stroke: rgba(0, 0, 0, 0.836) 0.75px;
                    color: silver;
                    text-align: center;
                    text-decoration: overline;
                    font-size: 42px;
                }
            }
        }
    }
}