header {
    nav {
        div {
            #entrarCarrito {                
                position: sticky;
                display: flex;
        

                p {
                    margin-left: -15px;
                    display: flex;
                    text-align: center;
                    font-size: 24px;
                    font-family: $tipografiaProductos;
                    color: white;
                    border-radius: 100%;
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}