header {
    position: sticky;
    nav {
        background-image: url(../cannabisMedicinal.png);
        .container-fluid {
            font-family: $tipografiaNavbar2;
            font-size: 50px;

            .navbar-brand {
                text-decoration:underline;
                text-transform:initial;
                -webkit-text-stroke: rgba(248, 231, 231, 0.836) 0.9px;
                color: olive;
                font-size: 50px;
                font-family: 'Babylonica', cursive;
            }
        }
    }
}