main {
    #contenedorProductos {
        .card {
            img {
                border-radius: 5%;
                height: 245px;
                fill-opacity: 120%;
            }
        }
    }
}