header {
    nav {
        .container-fluid {
            .collapse {
                .navbar-nav {
                    .nav-link {
                        -webkit-text-stroke: rgb(255, 255, 255) 0.15px;
                        position: sticky;
                        color: black;
                        font-size: 55px;
                        text-align: center;
                    }
                }
            }
        }
    }
}