header {
    nav {
        .container-fluid {
            .collapse {
                .navbar-nav {
                    .nav-link {
                        -webkit-text-stroke: black 0.80px;
                        position: sticky;
                        color: white;
                        font-size: 55px;
                        text-align: center;
                    }
                }
            }
        }
    }
}