main {
    aside {
        .offcanvas {
            .offcanvas-body {
            font-family: $tipografiaNavbar2;
            font-size: 30px;
            text-transform:inherit;
            }
        }
    }
}