main {
    h1 {
        border-radius: 2%;
        margin: 3px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.75);
        text-decoration: underline;
        -webkit-text-stroke: white 0.2px;
        text-transform: inherit;
        color: wheat;
        text-align: center;
        font-family: $tipografiaNavbar1;
        font-size: 60px;
    }
}