main {
    h1 {
        text-decoration: underline;
        -webkit-text-stroke: white 0.2px;
        background-color: BLACK;
        text-transform: inherit;
        color: gold;
        text-align: center;
        font-family: $tipografiaNavbar1;
        font-size: 60px;
    }
}