main {
    h1 {
        background: linear-gradient(to right,gold,10%,black);
        text-decoration: underline;
        -webkit-text-stroke: white 0.2px;
        text-transform: inherit;
        color: gold;
        text-align: center;
        font-family: $tipografiaNavbar1;
        font-size: 60px;
    }
}