body {
    main {
        aside {
            #offcanvasRight {
                font-size: 50px;
                font-family: $tipografiaProductos;
                background-image: url(../imagenes/navbarImagen.jpg);
                opacity: 0.25px;

                #precioTotalCarrito {
                    font-family: $tipografiaNavbar2;
                    background-color: black;
                    color: wheat;
                    border-radius: 10%;
                }

                .offcanvas-body {
                    font-size: 25px;
                    
                }

                .offcanvas-header {
                    .offcanvas-title {
                        color: wheat;
                        font-size: 50px;
                        font-family: $tipografiaNavbar1;
                    }
                }
            }
        }
    }
}